In [1]:
#### account module, loan 입력 방법 ####

In [190]:
import importlib
import pandas as pd
import numpy as np
import account as acc

In [212]:
importlib.reload(acc)

In [213]:
#### INPUT BASIC DATA ####
mtrt = 26 # months
prd_prjt = 24 # months
#### INPUT BASIC DATA ####


#### INPUT LOAN DATA ####
loanA = acc.Loan(title="loanA", tag=("loanA", "-"), mtrt=mtrt,
                 ntnl=40_000.000, rate=0.05, note="-")
#### INPUT LOAN DATA ####

In [214]:
#### ENTER INPUT/OUTPUT DETAILS OF LOAN ####
loanA.amt.subamt([1, 4, 10, 14], [10000, 20000, 0, 0])
loanA.amt.subscdd(7, -5000)
loanA.amt.subamt(13, loanA.amt.sub_rsdl(13))
loanA.amt.addamt(23, loanA.amt.amt_sub_cum(mtrt))
#### ENTER INPUT/OUTPUT DETAILS OF LOAN ####

In [215]:
#### ENTER IR AMT ####
for idx in np.arange(0, mtrt + 1):
    IR_amt = loanA.amt.amt_sub_cum(idx) * IR_rate / 12
    loanA.IR.addscdd(idx, IR_amt)
    loanA.IR.addamt(idx, loanA.IR.add_rsdl(idx))
#### ENTER IR AMT ####

In [216]:
loanA.amt.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,40000.0,0.0,0.0,0.0,0.0,40000.0,0.0,0.0
0,0.0,0.0,40000.0,40000.0,40000.0,0.0,0.0,0.0,0.0,40000.0,0.0,40000.0
1,0.0,0.0,0.0,40000.0,40000.0,0.0,0.0,10000.0,10000.0,30000.0,0.0,30000.0
2,0.0,0.0,0.0,40000.0,30000.0,0.0,0.0,0.0,10000.0,30000.0,0.0,30000.0
3,0.0,0.0,0.0,40000.0,30000.0,0.0,0.0,0.0,10000.0,30000.0,0.0,30000.0
4,0.0,0.0,0.0,40000.0,30000.0,0.0,0.0,20000.0,30000.0,10000.0,0.0,10000.0
5,0.0,0.0,0.0,40000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,10000.0
6,0.0,0.0,0.0,40000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,10000.0
7,0.0,0.0,-5000.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
8,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
9,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
10,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
11,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
12,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,0.0,30000.0,10000.0,0.0,5000.0
13,0.0,0.0,0.0,35000.0,10000.0,0.0,0.0,5000.0,35000.0,5000.0,0.0,0.0
14,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
15,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
16,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
17,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
18,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
19,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
20,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
21,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
22,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0,0.0,35000.0,5000.0,0.0,0.0
23,0.0,0.0,0.0,35000.0,5000.0,35000.0,35000.0,0.0,35000.0,40000.0,-35000.0,0.0
24,0.0,0.0,0.0,35000.0,40000.0,0.0,35000.0,0.0,35000.0,40000.0,-35000.0,0.0
25,0.0,0.0,0.0,35000.0,40000.0,0.0,35000.0,0.0,35000.0,40000.0,-35000.0,0.0
26,40000.0,40000.0,0.0,35000.0,40000.0,0.0,35000.0,0.0,35000.0,40000.0,5000.0,0.0

In [217]:
loanA.IR.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
1,41.666667,41.666667,0.0,0.0,0.000000,41.666667,41.666667,0.0,0.0,41.666667,0.0,0.0
2,41.666667,83.333333,0.0,0.0,41.666667,41.666667,83.333333,0.0,0.0,83.333333,0.0,0.0
3,41.666667,125.000000,0.0,0.0,83.333333,41.666667,125.000000,0.0,0.0,125.000000,0.0,0.0
4,125.000000,250.000000,0.0,0.0,125.000000,125.000000,250.000000,0.0,0.0,250.000000,0.0,0.0
5,125.000000,375.000000,0.0,0.0,250.000000,125.000000,375.000000,0.0,0.0,375.000000,0.0,0.0
6,125.000000,500.000000,0.0,0.0,375.000000,125.000000,500.000000,0.0,0.0,500.000000,0.0,0.0
7,125.000000,625.000000,0.0,0.0,500.000000,125.000000,625.000000,0.0,0.0,625.000000,0.0,0.0
8,125.000000,750.000000,0.0,0.0,625.000000,125.000000,750.000000,0.0,0.0,750.000000,0.0,0.0
9,125.000000,875.000000,0.0,0.0,750.000000,125.000000,875.000000,0.0,0.0,875.000000,0.0,0.0
10,125.000000,1000.000000,0.0,0.0,875.000000,125.000000,1000.000000,0.0,0.0,1000.000000,0.0,0.0
11,125.000000,1125.000000,0.0,0.0,1000.000000,125.000000,1125.000000,0.0,0.0,1125.000000,0.0,0.0
12,125.000000,1250.000000,0.0,0.0,1125.000000,125.000000,1250.000000,0.0,0.0,1250.000000,0.0,0.0
13,145.833333,1395.833333,0.0,0.0,1250.000000,145.833333,1395.833333,0.0,0.0,1395.833333,0.0,0.0
14,145.833333,1541.666667,0.0,0.0,1395.833333,145.833333,1541.666667,0.0,0.0,1541.666667,0.0,0.0
15,145.833333,1687.500000,0.0,0.0,1541.666667,145.833333,1687.500000,0.0,0.0,1687.500000,0.0,0.0
16,145.833333,1833.333333,0.0,0.0,1687.500000,145.833333,1833.333333,0.0,0.0,1833.333333,0.0,0.0
17,145.833333,1979.166667,0.0,0.0,1833.333333,145.833333,1979.166667,0.0,0.0,1979.166667,0.0,0.0
18,145.833333,2125.000000,0.0,0.0,1979.166667,145.833333,2125.000000,0.0,0.0,2125.000000,0.0,0.0
19,145.833333,2270.833333,0.0,0.0,2125.000000,145.833333,2270.833333,0.0,0.0,2270.833333,0.0,0.0
20,145.833333,2416.666667,0.0,0.0,2270.833333,145.833333,2416.666667,0.0,0.0,2416.666667,0.0,0.0
21,145.833333,2562.500000,0.0,0.0,2416.666667,145.833333,2562.500000,0.0,0.0,2562.500000,0.0,0.0
22,145.833333,2708.333333,0.0,0.0,2562.500000,145.833333,2708.333333,0.0,0.0,2708.333333,0.0,0.0
23,145.833333,2854.166667,0.0,0.0,2708.333333,145.833333,2854.166667,0.0,0.0,2854.166667,0.0,0.0
24,145.833333,3000.000000,0.0,0.0,2854.166667,145.833333,3000.000000,0.0,0.0,3000.000000,0.0,0.0
25,145.833333,3145.833333,0.0,0.0,3000.000000,145.833333,3145.833333,0.0,0.0,3145.833333,0.0,0.0
26,145.833333,3291.666667,0.0,0.0,3145.833333,145.833333,3291.666667,0.0,0.0,3291.666667,0.0,0.0

In [218]:
loanA.df

     amt_loan  amt_IR_scdd  amt_IR_paid
-1        0.0     0.000000     0.000000
 0        0.0     0.000000     0.000000
 1    10000.0    41.666667    41.666667
 2    10000.0    41.666667    41.666667
 3    10000.0    41.666667    41.666667
 4    30000.0   125.000000   125.000000
 5    30000.0   125.000000   125.000000
 6    30000.0   125.000000   125.000000
 7    30000.0   125.000000   125.000000
 8    30000.0   125.000000   125.000000
 9    30000.0   125.000000   125.000000
 10   30000.0   125.000000   125.000000
 11   30000.0   125.000000   125.000000
 12   30000.0   125.000000   125.000000
 13   35000.0   145.833333   145.833333
 14   35000.0   145.833333   145.833333
 15   35000.0   145.833333   145.833333
 16   35000.0   145.833333   145.833333
 17   35000.0   145.833333   145.833333
 18   35000.0   145.833333   145.833333
 19   35000.0   145.833333   145.833333
 20   35000.0   145.833333   145.833333
 21   35000.0   145.833333   145.833333
 22   35000.0   145.833333   145.833333
 23       0.0   145.833333   145.833333
 24       0.0   145.833333   145.833333
 25       0.0   145.833333   145.833333
 26       0.0   145.833333   145.833333